* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.4;
  color: #444;
  background-color: #fbfbfb;
}
@media (min-width: 568px) {
  body {
    font-size: 17px;
  }
}

a {
  color: #3c92d1;
  text-decoration: none;
}

.current a {
  font-weight: bold;
}

h1,
h2,
h3 {
  font-family: 'Lato', sans-serif;
}

h2 {
  font-size: 24px;
  font-weight: 400;
  color: #54a23d;
  margin-bottom: 0;
}
@media (min-width: 568px) {
  h2 {
    font-size: 30px;
  }
}
h3 {
  /* color: #54a23d; */
}

blockquote {
  border-left: 5px solid #eeeeee;
  margin-left: 0;
  padding-left: 15px;
}

blockquote small {
  display: block;
  font-size: 80%;
  line-height: 1.4;
}

blockquote small:before {
  content: '\2014 \00A0'
}

pre {
  overflow: auto;
  padding: 0.8rem;
  border-radius: 0.2rem;
  border: solid 1px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.05);
  white-space: pre-wrap;
  font-size: 0.9rem;
}


/*
 * Content container
 *
 * Centered container for all content
 */

.container {
  margin: 0 15px;
}
@media (min-width: 568px) {
  .container {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
  }
}

/*
 * Navbar
 *
 * Logo and navigation at the top of the page
 */

#navbar-logo {
    height: 3em;
}
.navbar-top-align {
    margin-top:1em;
}
  .col-half {
    display: table-cell;
    width: 50%;
    min-width: 50%;
    vertical-align: top;
  }
  .col-half.second {
    padding-left: 6%;
  }
.navbar-right .dropdown-menu {
    left: 0px;
}

/*
 * Masthead
 *
 * Big intro billboard
 */

.masthead {
  border-top: solid 1px #ececec;
  border-bottom: solid 1px #ececec;
  text-align: center;
  padding: 20px 12px;
}
@media (min-width: 568px) {
  .masthead {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.masthead .container {
}
@media (min-width: 568px) {
  .masthead .container {
    width: 568px;
    margin: 0 auto;
  }
}

.masthead h1 {
  font-size: 20px;
  font-weight: 400;
}
@media (min-width: 568px) {
  .masthead h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }
}

.masthead .lead {
  font-weight: 900;
  color: #54a23d;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 900;
}
@media (min-width: 568px) {
  .masthead .lead {
    font-size: 26px;
  }
}

/*
 * Columns
 *
 * Two columns utilizing the golden ratio
 */

.col-wide,
.col-narrow {
  display: block;
}
@media (min-width: 568px) {
  .col-wide {
    display: table-cell;
    width: 61.8%;
    vertical-align: top;
  }
  .col-narrow {
    display: table-cell;
    width: 38.2%;
    padding-left: 6%;
    vertical-align: top;
  }
}

/*
 * Front page
 *
 * Big section blocks for the front page
 */

.front-section {
  padding: 8px 0;
}
@media (min-width: 568px) {
  .front-section {
    padding-top: 30px;
    padding-bottom: 30px;
    display: table;
    width: 100%;
  }
  .front-section h2:first-child {
    margin-top: 0;
  }
}

.front-section.shaded {
  background-color: #f4f4f4;
}

/*
 * FAQs
 *
 * Formatted as a definition list
 */

.faqs dt {
  font-weight: 700;
}

.faqs dd {
  color: #777;
  font-size: 15px;
  margin-left: 0;
  margin-bottom: 20px;
}

/*
 * Buttons
 *
 * Fun to click
 */

.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background-color: #3c92d1;
  color: #fff;
  font-family: 'Lato', sans-serif;
  border-radius: 4px;
  padding: 15px 30px;
}

.btn:hover {
  background-color: #3889c4;
}

.btn.full-width {
  width: 100%;
}

/*
 * Sponsors
 *
 * Callout-style box
 */
.sponsors-main {
  padding: 5px 20px;
  border-radius: 4px;
  margin-top: 10px;
}

.original-sponsors {
  width: 400px;
}

.sponsors-main h3 {
  color: #54a23d;
}

.first-level-sponsor {
  margin-bottom: 20px;
}

.first-level-sponsor img {
  max-width: 100%;
}

.second-level-sponsors {
  width: 100%;
}

.second-level-sponsors td {
  width: 50%;
  padding: 12px 0;
  text-align: center;
  vertical-align: middle;
}

.second-level-sponsors img {
  width: 80%;
}
@media (min-width: 568px) {
  .second-level-sponsor img {
    width: auto;
  }
}


/*
 * Sponsors table
 *
 */
.sponsors-table {
  width: 100%;
  margin-top: 20px;
  line-height: 1;
}

.sponsors-table td {
  vertical-align: middle;
}

.sponsors-table h3 {
  display: inline;
  margin: 0;
  padding-bottom: 20px;
  position: relative;
  top: -0.8rem;
}

.sponsors-table .sponsor-image {
  text-align: right;
  padding-right: 12px;
  padding-bottom: 20px;
  width: 128px;
}

.sponsors-table .sponsor-amount {
  padding-left: 12px;
}

.sponsors-table .sponsor-name {
  background-image: linear-gradient(90deg, #fbfbfb 25%, #fbfbfb 75%, #ddd 75%);
  background-size: 6px 2px;
  background-position: 0 40%;
  background-repeat: repeat-x;
}

.sponsors-table .sponsor-name h3 {
  background-color: #fbfbfb;
  padding-right: 10px;
}

.sponsor-amount {
  white-space: nowrap;
}

/*
 * Footer
 *
 * Links, legalese, etc.
 */

footer .container {
  border-top: solid 1px #ececec;
  padding: 20px 0 50px;
  font-size: 12px;
  color: #777;
}

footer .col-narrow {
  text-align: right;
}

@media (min-width: 568px) {
  footer .container {
    font-size: 14px;
    display: table;
  }
}

footer a {
  color: #444;
}


/*
 * Misc
 *
 * Odds 'n ends
 */

.light {
  color: #777;
}

.light a {
  color: #444;
}

.small {
  font-size: 70%;
}

/*
 * Newsletter CSS
 */

.newsletter h1 {
  margin-bottom: 0px;
}

/*
 * Donation
 */

.donate {
  display: table;
  width: 100%;
  font-size: 17px;
}

.donate > .icon {
  width: .01%;
  display: table-cell;
  vertical-align: middle;
  padding: 0 1em;
  border-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid rgba(0,0,0,.15);
  background-color: #FAFAFA;
  background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0)),to(rgba(0,0,0,.05)));
  background-image: -webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.05));
  background-image: -moz-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.05));
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.05));
}

.donate > .icon img {
  display: inline;
  vertical-align: top;
}

.donate > input {
  font-family: monospace, monospace;
  padding: .65em 1em;
  border: 1px solid rgba(0,0,0,.15);
  -webkit-transition: background-color .3s ease-out,-webkit-box-shadow .2s ease,border-color .2s ease;
  -moz-transition: background-color .3s ease-out,box-shadow .2s ease,border-color .2s ease;
  transition: background-color .3s ease-out,box-shadow .2s ease,border-color .2s ease;
  color: #d72929;
  background-color: #efefef;
  white-space: nowrap;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
}

/*
 * Poll info
 */
iframe.poll {
  width: 100%;
  overflow-y: hidden;
}
