language: ruby
sudo: false
cache: bundler
rvm:
  - 2.2
env:
  global:
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true
script:
  - bundle exec jekyll build --drafts
  - bundle exec htmlproofer ./_site
notifications:
  email: false
