---
layout: default
title: Roadmap
---

{% include nav.html active='About' %}

<div class="container golden-grid">
<div>

<h1>Roadmap</h1>

<p>
The roadmap is an overview of the project direction. Detailed plans and priorities are tracked in <a href="https://github.com/neovim/neovim/milestones?direction=desc&sort=due_date&state=open">milestones</a>:
</p>

<ul>
  <li>Version numbers (<code>0.1</code>, <code>0.2</code>, …) track production releases. The next upcoming version has a (estimated) target date.</li>
  <li><a href="https://github.com/neovim/neovim/milestone/6">backlog</a>
    holds low-priority items.</li>
  <li><a href="https://github.com/neovim/neovim/milestone/9">needs-owner</a>
    holds zero-priority items (no feasible path to completion).</li>
</ul>

<p>Note these are tentative and can be changed, moved, or dropped at any time.</p>

<h2>Next</h2>

Concrete high-level feature areas and changes.

<h3><a href="https://github.com/neovim/neovim/milestone/43">0.12+</a>: "The year of the Nvim OOTB"</h3>
<ul>
  <li><a href="https://github.com/neovim/neovim/issues/20451">Prepare for 1.0</a></li>
  <li>No more "Press Enter"</li>
  <li>Plugin manager</li>
  <li>packspec / <code>pkg.json</code></li>
  <li>Redesign <code>--remote</code></li>
  <li>File-change detection</li>
  <li>multicursor, super-macros</li>
  <li>Task abstraction, structured concurrency: <code>vim.async</code></li>
  <li>Unified event interface, <code>nvim_on()</code></li>
</ul>

<h3><a href="https://github.com/neovim/neovim/milestone/41">0.11</a></h3>
<ul>
  <li>LSP "config" concept: <code>lsp/*</code> on 'runtimepath', <code>vim.lsp.config()</code>, <code>vim.lsp.enable()</code></li>
  <li>LSP: multiclient support</li>
  <li>TUI: URL highlight, theme event</li>
  <li>UI detach, <code>:connect</code>: <a href="https://github.com/neovim/neovim/issues/5035">#5035</a></li>
  <li>stdlib: image API</li>
  <li>Redesign (simplify) remote plugin concept, eliminate <code>:UpdateRemotePlugins</code></li>
  <ul>
    <li>Lua remote plugin host</li>
  </ul>
  <li>Externalized UI: window layout events, messages</li>
  <li>LSP: <code>vim.lsp.server()</code></li>
  <li>LSP: <a href="https://x.com/Neovim/status/1797629199454499223">auto-completion</a> (<a href="https://gist.github.com/MariaSolOs/2e44a86f569323c478e5a078d0cf98cc">on_attach config</a>)</li>
</ul>

<h2>Completed</h2>

<p>Here are the headline features of the previous releases; for details see the corresponding release notes.</p>

<h3><a href="https://github.com/neovim/neovim/milestone/36">0.10</a></h3>
<ul>
  <li><a href="https://github.com/neovim/neovim/pull/26334">Default colorscheme</a></li>
  <li>LSP inlay hints</li>
  <li>TermRequest, TermResponse</li>
  <li>treesitter: builtin parsers for bash, markdown, python</li>
  <li><code>vim.snippet</code></li>
  <li><code>vim.iter</code></li>
  <li><code>vim.lpeg</code>, <code>vim.re</code>, <code>vim.glob</code>, <code>vim.base64</code></li>
</ul>

<h3><a href="https://github.com/neovim/neovim/milestone/28?closed=1">0.9</a></h3>
<ul>
  <li>TUI as a remote UI</li>
  <li>LSP semantic token highlighting</li>
  <li><a href="https://neovim.io/doc/user/editorconfig.html">EditorConfig</a> support</li>
  <li><a href="https://neovim.io/doc/user/options.html#'exrc'">'exrc'</a> and related "<a href="https://neovim.io/doc/user/editing.html#trust">:trust</a> database" features</li>
  <li><a href="https://neovim.io/doc/user/options.html#'statuscolumn'">'statuscolumn'</a></li>
  <li><a href="https://neovim.io/doc/user/options.html#'diffopt'">'diffopt' "linematch" feature</a></li>
  <li><a href="https://neovim.io/doc/user/lua.html#%3AInspect">:Inspect</a>, <a href="https://neovim.io/doc/user/treesitter.html#%3AInspectTree">:InspectTree</a></li>
  <li><a href="https://neovim.io/doc/user/lua.html#vim.loader">vim.loader</a> optimized Lua module loader</li>
  <li><a href="https://neovim.io/doc/user/lua.html#vim.version">vim.version</a> semver module</li>
  <li><code>$NVIM_APPNAME</code></li>
  <li>Lua script runner: <code>nvim -l</code></li>
</ul>

<h3><a href="https://github.com/neovim/neovim/milestone/32?closed=1">0.8</a></h3>
<ul>
  <li>LSP improvements (v3.16 spec coverage, configuration, <code>LspAttach</code>)</li>
  <li>Lua API: <code>vim.fs</code>, <code>vim.cmd{}</code>, measure require() in <code>--startuptime</code>, <code>:map</code>/<code>:command</code>/<code>:au</code> can print Lua source location</li>
  <li>treesitter API: use queries to define spellcheck regions (aka "spellsitter")</li>
  <li><code>vim.ui_attach()</code></li>
  <li>UI and RPC performance</li>
  <li>user-defined <a href="https://neovim.io/doc/user/options.html#'inccommand'">command preview</a></li>
  <li><code>cmdheight=0</code></li>
  <li>clickable statusline</li>
</ul>

<h3><a href="https://github.com/neovim/neovim/milestone/29?closed=1">0.7</a></h3>
<ul>
  <li>Tree-sitter integration (highlighting, folds)</li>
  <li>TUI: extended keys (CTRL-i vs TAB, SHIFT modifier, …!)</li>
  <li>Global statusline: <code>laststatus=3</code></li>
</ul>

<h3><a href="https://github.com/neovim/neovim/milestone/11?closed=1">0.6</a></h3>
<ul>
  <li>Unified diagnostics API</li>
  <li>Updated <a href="https://github.com/neovim/neovim/issues/6289">defaults</a></li>
</ul>

<h3><a href="https://github.com/neovim/neovim/milestone/19?closed=1">0.5</a> + <a href="https://github.com/neovim/neovim/milestone/25?closed=1">0.5.1</a></h3>
<ul>
  <li><a href="/doc/user/lua.html">Expanded Lua API and user config</a> (<code>init.lua</code>)</li>
  <li><a href="/doc/user/lsp.html">Built-in Language Server Protocol (LSP) support</a></li>
  <li><a href="/doc/user/treesitter.html">Tree-sitter integration</a> (experimental)</li>
  <li>Decorations API improvements: extmarks, virtual text, highlights</li>
  <li>Lua API improvements</li>
  <li>LSP support improvements</li>
</ul>


<h3><a href="https://github.com/neovim/neovim/milestone/21?closed=1">0.4</a></h3>
<ul>
  <li>Lua "stdlib"</li>
  <li>Externalized UI: multigrid
  <li>Externalized UI: floating windows</li>
  <li>Externalized UI: messages</li>
</ul>

<h3><a href="https://github.com/neovim/neovim/milestone/18?closed=1">0.3.x</a></h3>
<ul>
  <li>API: <a href="https://neovim.io/doc/user/api.html#api-buffer-updates">buffer update events</a></li>
  <li>Vimscript expression parser: <code>nvim_parse_expression()</code></li>
  <li>Windows: <a href="https://github.com/neovim/neovim/blob/master/BUILD.md#windows--msvc">MSVC support</a></li>
  <li><a href="https://github.com/neovim/neovim/milestone/15?closed=1">0.2.1</a> Built-in Lua:<code>vim.api</code>, <code>:lua</code>,
     <code>nvim_execute_lua()</code>, …</li>
  <li><a href="https://github.com/neovim/neovim/milestone/15?closed=1">0.2.1</a> Externalize UI components: cmdline, wildmenu</li>
  <li><a href="https://github.com/neovim/neovim/milestone/15?closed=1">0.2.1</a> Windows <code>:terminal</code></li>
  <li><a href="https://github.com/neovim/neovim/milestone/15?closed=1">0.2.1</a> Pre-packaged "universal" binary for Linux</li>
</ul>

<h3><a href="https://github.com/neovim/neovim/milestone/10?closed=1">0.2.x</a></h3>
<ul>
  <li>Windows support</li>
  <li>Externalized UI: popumenu</li>
  <li>Externalized UI: tabline</li>
  <li>Pre-packaged builds for Windows and macOS</li>
</ul>

<h3><a href="https://github.com/neovim/neovim/milestone/5?closed=1">0.1.x</a></h3>
<ul>
  <li>First public release</li>
  <li>Publish a stable product that can be used as a benchmark for progress</li>
</ul>

</div>
{% include post_sidebar.html %}
</div>
