<header class="container">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a href="/" class="navbar-brand" aria-label="logo">
        {{ partial "logo.svg" . }}
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-expanded="false" aria-label="Main menu">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <line x1="3" y1="12" x2="21" y2="12"></line>
          <line x1="3" y1="6" x2="21" y2="6"></line>
          <line x1="3" y1="18" x2="21" y2="18"></line>
        </svg>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          {{ range .Site.Menus.main }}
          {{ if .HasChildren }}

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
              id="neovimDropdown">{{ .Name }}</a>
            <ul class="dropdown-menu" aria-labelledby="neovimDropdown">
              {{ range .Children }}

              <li>
                <a class="dropdown-item" href="{{ .URL }}">
                  {{ .Name }}
                </a>
              </li>

              {{ end }}
            </ul>
          </li>
          {{ else }}
          <li class="nav-item">
            <a href="{{ .URL }}" class="nav-link">{{ .Name }}</a>
          </li>

          {{ end }} {{ end }}
        </ul>
      </div>

      <!-- algolia docsearch https://docsearch.algolia.com/docs/docsearch-v3/ -->
      <div id="docsearch"></div>

    </div>
  </nav>
</header>