<h3>What is Neovim?</h3>
<p>
  Neovim is a Vim-based text editor engineered for
  <a href="https://github.com/neovim/neovim/wiki/Related-projects#api-clients">extensibility</a>
  and
  <a href="https://neovim.io/doc/user/vim_diff.html#nvim-features">usability</a>,
  to encourage new applications and
  <a href="https://github.com/neovim/neovim/blob/master/CONTRIBUTING.md#getting-started">contributions</a>.

  <ul>
    <li><a href="/charter/">Vision</a></li>
    <li><a href="/roadmap/">Roadmap</a></li>
  </ul>
</p>

<h3>Discuss</h3>
<p>
  Visit <a href="https://app.element.io/#/room/#neovim:matrix.org">#neovim:matrix.org</a>
  or #neovim on irc.libera.chat to chat with the team.
</p>
<p>
  <a href="https://twitter.com/Neovim" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @Neovim</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</p>
