<div class="sponsor-front">
<div class="sponsor-logo">
  <% if (url) { %>
  <a href="<%= url %>"><img src="<%= frontLogo %>" alt="Logo of <%= name %>"></img></a>
  <% } else { %>
  <img src="<%= frontLogo %>"></img>
  <% } %>
</div>
</div>
