{{ define "main" }}
<section class="masthead">
    <h1 class="lead">hyperextensible Vim-based text editor</h1>
    <p>
        <a href="/doc/install/" class="btn">Install Now</a>
        <a href="https://dotfyle.com/plugins" class="btn">Get Plugins</a>
    </p>
</section>

<section class="front-section">
    <div class="container golden-grid">
        <div class="col-wide">
        {{ .Content }}
        </div>
        <div class="col-narrow">
            <h2 id="sponsors-header"><a href="/sponsors/">Sponsors</a></h2>
            <div id="sponsors" class="sponsors-main">
                <div class="first-level-sponsor">
                    <a href="https://serpapi.com/?utm_source=neovim">
                        <img width="340" class="img-fluid" src="images/sponsors/serpapi.png"
                            alt="SerpApi: Scrape search engine results with a simple API">
                        <br />
                        Scrape search engine results with a simple API
                    </a>
                </div>
                <div class="first-level-sponsor">
                    <a href="https://www.greptile.com/?utm_source=neovim&utm_medium=sponsorship&utm_campaign=neovim_sponsor_page">
                        <img width="340" class="img-fluid" src="images/sponsors/greptile-logo1.png"
                            alt="Greptile, The AI Code Reviewer">
                        <br />
                        Greptile, The AI Code Reviewer
                    </a>
                </div>
                <div class="first-level-sponsor">
                    <a href="https://coderabbit.ai/?utm_source=neovim.io">
                        <img width="340" class="img-fluid" src="images/sponsors/coderabbit-logo.png"
                            alt="CodeRabbit cuts code review time and bugs in half. Works on PRs, IDE, and CLI.">
                        <br />
                        CodeRabbit cuts code review time and bugs in half. Works on PRs, IDE, and CLI.
                    </a>
                </div>
                <div class="first-level-sponsor">
                    <a href="http://go.warp.dev/neovim"><img width="340" class="img-fluid"
                            src="https://raw.githubusercontent.com/warpdotdev/brand-assets/refs/heads/main/Github/Sponsor/Warp-Github-LG-01.png"
                            title="Visit warp.dev to learn more." alt="Visit warp.dev to learn more." />
                        <br />
                        Warp, built for coding with multiple AI agents.
                    </a>
                </div>
            </div>

            <div class="news-section">
                <h2 id="news">News</h2>
                {{/* <dl class="nvim-posts"> */}}
                    <table>
                        {{ range first 2 .Site.RegularPages }}
                        <tr>
                            <td><a href="{{ .RelPermalink }}">{{ .Title }}</a>&nbsp;&nbsp; </td>
                            <td style="white-space: nowrap; text-align: right">{{ .Date.Format "2006.01" }}</td>
                        </tr>
                        {{/* <dd></dd> */}}
                        {{ end }}
                    </table>
                    {{/*
                </dl> */}}
                <p><a href="/news/archive/">More…</a></p>

                <h2>Impressions</h2>
                {{ range .Params.impressions }}
                <p>"{{ .quote | markdownify }}" <a href="{{ .link }}">—{{ .name }}</a></p>
                {{ end }}
            </div>
        </div>
    </div>
</section>

<section class="front-section shaded">
    <div class="container golden-grid">
        <div>
            <h2>Intro</h2>
            <div class="intro-video-container">
                <iframe class="intro-video" src="https://www.youtube-nocookie.com/embed/c4OyfL5o7DU"
                    title="Neovim in 100 seconds" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
        </div>

        <div>
            <h2 id="chat">Chat</h2>
            <ul>
              <li><a href="https://x.com/Neovim" class="twitter-follow-button">Follow &#64;Neovim on X</a>,
                <a rel="me" href="https://hachyderm.io/@neovim">Mastodon</a>,
                <a href="https://bsky.app/profile/neovim.io">Bluesky</a>
              </li>
              <li>Discuss the project in <a href="https://github.com/neovim/neovim/discussions">GitHub Discussions</a>, or
                chat in <a href="https://matrix.to/#/#neovim:matrix.org">#neovim:matrix.org</a>
                or #neovim on <code>irc.libera.chat</code>.
              </li>
              <li>Contribute code, report bugs and request features at <a
                      href="https://github.com/neovim/neovim">GitHub</a>.</li>
              <li>Ask usage and configuration questions at <a
                      href="https://github.com/neovim/neovim/discussions">GitHub Discussions</a>
                  or <a href="https://vi.stackexchange.com">vi.stackexchange.com</a>.
              </li>
            </ul>
        </div>

    </div>
</section>

<section class="front-section">
    <div class="container golden-grid">
        <div>
            <h2 id="faqs">FAQ</h2>
            <dl class="faqs">
                {{ range .Params.faq }}
                <dt>{{ .question | markdownify }}</dt>
                <dd>{{ .answer | markdownify }}</dd>
                {{ end }}
            </dl>
        </div>
        <div>
            <h2>GUIs</h2>
            Neovim UIs are "inverted plugins". Here are some popular ones:
            <ul>
                <li><a href="https://github.com/glacambre/firenvim">Firenvim</a> (Nvim in your web browser!)</li>
                <li><a href="https://github.com/vscode-neovim/vscode-neovim">vscode-neovim</a> (Nvim in VSCode!)</li>
                <li><a href="https://neovide.dev/">Neovide</a></li>
                <li><a href="https://github.com/akiyosi/goneovim">Goneovim</a></li>
                <li><a href="https://github.com/vhakulinen/gnvim">GNvim (GTK4)</a></li>
                <li><a href="https://github.com/yatli/fvim">FVim</a></li>
                <li><a href="https://github.com/RMichelsen/Nvy">Nvy</a></li>
                <li><a href="https://github.com/equalsraf/neovim-qt">Neovim Qt (Qt5)</a></li>
                <li><a href="https://github.com/qvacua/vimr">VimR (macOS)</a></li>
                <li><a href="https://github.com/neovim/neovim/wiki/Related-projects#gui">More...</a></li>
            </ul>
        </div>
    </div>
</section>

<section class="front-section shaded">
    <div class="container">
        <h2 id="sponsor">The work continues...</h2>
        <div class="container col3">
            <div>
                <div>Sponsor (100% to developers)</div>
                <p>
                  <a href="/sponsors/" class="btn">Become a Sponsor</a>
                </p>
            </div>

            <div>
                <label for="donate-input">Bitcoin</label>
                <div class="donate">
                    <div class="icon">
                        <img src="/images/icons/bitcoin.png" alt="Bitcoin logo" />
                    </div>
                    <input id="donate-input" class="donate" type="text" value="1Evu6wPrzjsjrNPdCYbHy3HT6ry2EzXFyQ"
                        readonly="readonly">
                </div>

                <p class="light small">
                    View at
                    <a
                        href="https://www.blockchain.com/btc/address/1Evu6wPrzjsjrNPdCYbHy3HT6ry2EzXFyQ">Blockchain.com</a>.
                </p>
            </div>

            <div>
                <div>Marketing</div>
                <ul>
                    <li><a href="/logos/neovim-logos.zip">Neovim-logos.zip</a> <span class="light">(1.1 MB)</span></li>
                    <li>Neovim logo by <a href="http://x.com/jasonlong">Jason Long</a>, <a
                            href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
{{ end }}
